<%- contentFor('title') %>Home
<%- contentFor('body') %>
<h1>Hello </h1>
<p> My name is Carmen </p>
<p> 1. I speak Spanish </p>
<p> 2. I'm a student at ccsf </p>
<p> 3.I like Chicken Katsu </p>

<h1> This my name and age </h1>
<p> My name is <%= name %> <%= lastname %> . </p>


<form method="get" action="/DataSend">
  <label for="name">Name (4 to 8 characters):</label>

  <input type="text" id="name" name="name" required
         minlength="4" maxlength="8" size="10">

    <label for ="lastname">Last Name:</label>
    <input type="text" id="lastname" name="lastname" required
           minlength="4" maxlength="8" size="10">
    <button type="sumbit"> Submit </button>


  </form>

  <form method="post" action="/DataSend2">
    <label for="name">Name (4 to 8 characters):</label>

    <input type="text" id="name" name="name" required
           minlength="4" maxlength="8" size="10">

      <label for ="lastname">Last Name:</label>
      <input type="text" id="lastname" name="lastname" required
             minlength="4" maxlength="8" size="10">
      <button type="sumbit"> Submit </button>


    </form>


<a href="/DataSend?name=Micheal&lastname=Estrada">Send Information</a>



<button id="carmen" type="button">Click Me!</button>

<script>

  function displayResult(value){
    document.getElementById("Carmen").innerHTML = value;

  }

$("#carmen").click(function(e) {
  e.preventDefault();
  $.ajax({
    type: "GET",
    url: "https://sv443.net/jokeapi/category/Any",
    data: {},
    success: function(result){
      if (result.joke) {
        alert(result.joke)
      }
    },
    error: function(result){
      alert("THIS IS TRASH")
    }
  })
});

</script>
