<%- contentFor('title') %>TODOs
<%- contentFor('body') %>
<h1>TODOs Page </h1>

<form method="post" action="/todo">


  <label for="title">Title:</label><br/>
  <input type="text" id="title" name="title" required><br/>


  <label for="body">Fill text:</label><br/>
  <textarea name="body" rows="8" cols="80"></textarea><br/>
  <button type="submit">Submit</button>


</form>
